{% extends 'owner_dashboard.html' %}
{% block title %}تعویض رمز عبور{% endblock %}
{% block body %}
    <div class="row d-flex justify-content-center">
        <div class="password_information shadow bg-white rounded mx-5"
             style="width: 50%;margin-top: 70px">
            <div class="row mt-3">
                <form method="post" action="{% url 'accounts:change_password' %}" class="mx-3" style="width: 93%">
                    {% csrf_token %}
                    <h4 class="mt-2">تغییر رمز عبور</h4>
                    <div class="form-floating" style="margin-top: 30px">
                        <input type="password" class="form-control" id="floatingInput" placeholder="name@example.com"
                               minlength="6" maxlength="16" name="old_password" required>
                        <label for="floatingInput">رمز عبور فعلی</label>
                    </div>
                    <div class="form-floating" style="margin-top: 30px">
                        <input type="password" class="form-control" id="floatingInput" placeholder="name@example.com"
                               minlength="6" maxlength="16" name="new_password1" required>
                        <label for="floatingInput">رمز عبور جدید</label>
                    </div>
                    <div class="form-floating" style="margin-top: 30px">
                        <input type="password" class="form-control" id="floatingInput" placeholder="name@example.com"
                               name="new_password2" minlength="6" maxlength="16" required>
                        <label for="floatingInput">تکرار رمز عبور</label>
                    </div>
                    <button type="submit" class="btn btn-outline-primary my-4">تغییر رمز عبور</button>
                    <a href="{% url 'accounts:profile' %}" class="btn btn-outline-danger my-4 mx-2">انصراف</a>
                </form>
            </div>
        </div>
        <div class="password_information shadow bg-white rounded" style="width: 30%;margin-top: 70px">
            <div class="row">
                <div class="d-flex justify-content-center">
                    <div class="rounded-circle mt-3" style="width: 70px;height:
                            70px;background-image:url('{{ request.user.owner_profile.image.url }}');background-size: cover;background-position: center">
                    </div>
                </div>
                <h4 class="text-center mt-3">ویژگی های رمز عبور</h4>
                <p class="mt-4 mb-1 mx-1"><i class="bi bi-star mx-1 text-success"></i>رمز عبور باید حد اقل 6 کاراکتر
                    باشد</p>
                <p class="my-1 mx-1"><i class="bi bi-star mx-1 text-success"></i>رمز عبور حد اکثر میتواند 16 کاراکتر
                    باشد</p>
                <small class="my-1 mx-1"><i class="bi bi-star mx-1 text-primary"></i>بهتر است از علامت های خاص استفاده
                    شود</small>
                <small class="my-1 mx-1"><i class="bi bi-star mx-1 text-primary"></i>بهتر است از حروف کوچک و بزرگ اسفاده
                    شود</small>
            </div>
        </div>
    </div>
{% endblock %}
