{% extends '_base.html' %}
{% load static %}
{% block title %}ورود به وبسایت{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'accounts/css/login.css' %}">{% endblock %}
{% block body %}
    <div class="row" style="width: 100%;height: 100vh">
        <div class="col-4">
            <div class="my-3 shadow border rounded ms-4 d-flex flex-column" style="height: 95%">
                <div style="width: 100%;" class="d-flex justify-content-center">
                    <div class="rounded-circle bg-danger mt-5 mb-1 logo-div"
                         style="background-image: url({% static 'images/logo.jpg' %})">
                    </div>
                </div>
                <h5 class="text-center">ورود به پنل نمایندگان</h5>
                <form method="post" action="{% url 'accounts:login' %}" class="mt-3 px-5">
                    {% csrf_token %}
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1"><i class="bi bi-person"></i></span>
                        <input type="text" class="form-control text-center" placeholder="ایمیل"
                               aria-label="Username" name="email_phone" required
                               aria-describedby="basic-addon1">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1"><i class="bi bi-key"></i></span>
                        <input type="password" class="form-control text-center" placeholder="رمز عبور"
                               aria-label="Username" name="password" required
                               aria-describedby="basic-addon1">
                    </div>
                    <button type="submit" class="btn btn-outline-primary" style="width: 100%">ورود</button>
                    <a href="{% url 'accounts:register' %}" class="text-decoration-none"><p class="text-center mt-3 text-dark text-decoration-none">
                        <i class="bi bi-question-circle me-1"></i>حساب کاربری ندارم !</p></a>
                </form>
            </div>
        </div>
        <div class="col-8">
            <div class="my-3 shadow border rounded overflow-hidden" style="height: 95%">
                <div class="swiper mySwiper">
                    <div class="swiper-wrapper">
                        {% for i in images %}
                            <div class="swiper-slide"><img src="{{ i.image.url }}" alt="{{ i.name }}"></div>
                        {% endfor %}
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}
    <script src="{% static 'accounts/js/login.js' %}"></script>
{% endblock %}
