{% extends 'owner_dashboard.html' %}
{% load static %}
{% block title %}جزئیات دبیر{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'users/css/users_details.css' %}">
{% endblock %}
{% block body %}
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <form method="post" action="{% url 'users:teacher_delete' teacher.id %}" class="modal-content">
                {% csrf_token %}
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">حذف دبیر</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>آیا مطمعن هستید میخواهید
                        <span>{{ teacher.teacher_profile.first_name }} {{ teacher.teacher_profile.last_name }}</span> را
                        برای همیشه حذف کنید ؟</p>
                </div>
                <div class="modal-footer d-flex justify-content-start">
                    <button type="submit" class="btn btn-warning">بله</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">انصراف</button>
                </div>
            </form>
        </div>
    </div>
    <div class="row d-flex align-items-center justify-content-center" style="height: 100vh">
        <div class="border shadow rounded bg-white row" style="width: 90%;height: 85%">
            <div class="col-4 d-flex align-items-center justify-content-center">
                <form method="post" action="{% url 'users:teacher_update' teacher.id %}"
                      class="shadow flex-column rounded border w-100 d-flex align-items-center justify-content-center"
                      style="height: 90%">
                    {% csrf_token %}
                    <div class="form-floating mb-3 user-info">
                        <input name="first_name" type="text" class="form-control" id="floatingInput"
                               placeholder="name@example.com"
                               value="{{ teacher.teacher_profile.first_name }}" required>
                        <label for="floatingInput">نام</label>
                    </div>
                    <div class="form-floating mb-3 user-info">
                        <input name="last_name" type="text" class="form-control" id="floatingInput"
                               placeholder="name@example.com"
                               value="{{ teacher.teacher_profile.last_name }}" required>
                        <label for="floatingInput">نام خانوادگی</label>
                    </div>
                    <div class="form-floating mb-3 user-info">
                        <input name="national_code" type="number" class="form-control" id="floatingInput"
                               placeholder="name@example.com"
                               value="{{ teacher.national_code }}" required>
                        <label for="floatingInput">کد ملی</label>
                    </div>
                    <div class="form-floating mb-3 user-info">
                        <input name="phone" type="number" class="form-control" id="floatingInput"
                               placeholder="name@example.com"
                               value="{{ teacher.phone }}" required>
                        <label for="floatingInput">شماره موبایل</label>
                    </div>
                    <button class="btn btn-outline-primary user-info mt-1" type="submit">ثبت</button>
                    <div class="row user-info mt-4">
                        <div class="col-6" style="padding: 0;margin: 0">
                            <a href="{% url 'users:teacher_reset' teacher.id %}" style="width: 95%"
                               class="btn btn-outline-warning user-info" data-bs-toggle="tooltip"
                               data-bs-title="با این کار رمز دبیر بازنشانی شده و به کد ملی او بر میگردد">بازنشانی
                                رمز
                            </a>
                        </div>
                        <div class="col-6" style="padding: 0;margin: 0">
                            <button type="button" class="btn btn-outline-danger user-info" data-bs-toggle="modal"
                                    style="width: 95%;margin-right: 5%" data-bs-target="#exampleModal">حذف دبیر
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-8 d-flex align-items-center justify-content-center">
                <div class="shadow rounded border w-100 px-3" style="height: 90%">
                    <h4 class="my-4 text-center">دوره های دبیر</h4>
                    {% for c in courses %}
                        {% if teacher in c.teachers.all %}
                            <div id="btn52" class="btn-group mb-2 mx-1" role="group" aria-label="Basic example">
                                <a href="{% url 'courses:details' c.id %}"
                                   class="btn btn-outline-dark sm btn-sm">{{ c.name }}</a>
                                <a href="{% url 'courses:teacher_delete' c.id teacher.id %}"
                                   class="btn btn-outline-dark sm btn-sm"><i
                                        class="bi bi-trash text-danger"></i>
                                </a>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}
    <script>
        const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
        const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
    </script>
{% endblock %}
